@media all and (max-width: 1441px) {
    .container {
        width: 100%;
    }

    #moviesList {
        width: 100%;
        justify-content: center;
        padding: 1.5rem;
    }


    .movieCountersParagraphs {
        display: flex;
        position: fixed;
        top: 50px;
        right: -60px;
        transform: rotate(45deg);
    }
    .movieCountersParagraphs p:first-child{ padding: 1.5rem 1rem 1.5rem 5rem; }

    .movieCountersParagraphs p:last-child{ padding: 1.5rem 5rem 1.5rem 0;}
}

@media all and (max-width: 770px) {

    .movieItem {
        width: 32rem;
        min-height: 43rem;
        margin: 1.2rem;
    }

    li:nth-last-child(1){
        margin-right: unset;
    }
}

@media all and (max-width: 425px) {
    #moviesList {
        justify-content: center;
        padding: 1.5rem;
    }

    .movieItem {
        padding: 0;
        margin: 2rem 0;
    }

    .movieCountersParagraphs p {
        text-align: right;
        font-size: 1.5rem;
        padding: 1.7rem 1rem;
        color: var(--very-dark-gray);
    }

    .movieLogo img {
        width: 40%;
        height: 40%;
    }
}
